<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Dima Ledmi - Director of photography / Colorist </title>
<link href="index.files/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="all">

	<div class="wrapper" align="center">
  		
        <div class="header" align="center">
        	<br />
  				<img src="index.files/header.png" width="700" height="200"  alt=""/></p>
                
     </div>
        
         <div class="menu" align="center">
        	
            <a href="/index_develop.html" target="_self">COMMERCIALS</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/shortfilms.html" target="_self">SHORT FILMS</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/shop/" target="_self">RENTAL</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;ABOUT
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/contacts.html" target="_self">CONTACTS</a>
      
      </div>
        
        <div class="content">
                      
                   <table width='500' align='center' border=0><tr align='center'><td><img src="index.files/me.png" width="177" height="174"  alt=""/> </td>
                    <td align='left'>Hello, my name is Dima Ledmi
                    
                     
                     </td></tr></table>      

  
  
  </div>
  
  
  <div class="footer">
      
  </div>
  
  
 
  
  
  
	</div>


</body>
</html>






