<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% block head %}
<head>
{% load static %}
<link href="{% static 'common_style.css' %}" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dima Ledmi - Director of photography / Colorist </title>

</head>
{% endblock %}

{% block body %}
<body class="all">

	<div class="wrapper" align="center">
  		
        <div class="header" align="center">
        	<br />
  				<img src="{% static 'header.png' %}" width="700" height="200"  alt=""/></p>
                
     </div>

         <div class="menu" align="center">
        	
            <a href="/" target="_self">COMMERCIALS</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/shortfilms" target="_self">SHORT FILMS</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/shop" target="_self">RENTAL</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/about.html" target="_self">ABOUT</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;CONTACTS
      
      </div>
        
        <div class="content">
                      
                    
                    <strong>phone:</strong> +382 68617599 
                    <br /><strong>e-mail:</strong> ledmit [at] gmail.com
                    <br /><strong>Vimeo:</strong> <a href="https://vimeo.com/ledmi" target="_blank">ledmi</a>
                    <br /><strong>Youtube:</strong> <a href="https://www.youtube.com/user/ledmi/" target="_blank">dp_ledmi</a>
                    <br /><strong>Instagram:</strong> <a href="https://www.instagram.com/ledmi_/" target="_blank">ledmi_</a>
                    <br /><strong>FB:</strong> <a href="https://www.facebook.com/dima.ledmi" target="_blank">dima.ledmi</a>
                     
                         
                           
  
  </div>
  
  
  <div class="footer">
      
  </div>
  
  
  
	</div>


</body>
</html>
{% endblock %}
