<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% block head %}
<head>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'common_style.css' %}" rel="stylesheet" type="text/css">
<title>Dima Ledmi - Director of photography / Colorist </title>
<link href="index.files/style.css" rel="stylesheet" type="text/css" />

</head>
{% endblock %}
<body class="all">
{% block body %}
	<div class="wrapper" align="center">
  		
        <div class="header" align="center">
        	<br />
  				<img src="{% static 'header.png' %}" width="700" height="200"  alt=""/></p>
                
     </div>
         <div class="menu" align="center">
        	
            <a href="/" target="_self">COMMERCIALS</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;SHORT FILMS
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/shop/" target="_self">RENTAL</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/about.html" target="_self">ABOUT</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;<a href="/contacts.html" target="_self">CONTACTS</a>
      
      </div>
        
        <div class="content">
                      
                    <center>
                        <table width='70%' align='center' border='0'>
                            <tr align='center'>
                                <td>
                                    <div style="padding:80% 10% 10% 10%;position:relative;"><iframe src="https://player.vimeo.com/video/731921644?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="cinematography reel 2022 by Dima Ledmi"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                                </td>
                                <td>
                                    <div style="padding:80% 10% 10% 10%;position:relative;"><iframe src="https://player.vimeo.com/video/841022279?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="colorist reel 2021 | Dima Ledmi"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                                </td>
                            </tr>
                            <tr  align='center'>
                                <td>
                                    <div style="padding:80% 10% 10% 10%;position:relative;"><iframe src="https://player.vimeo.com/video/841078246?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="colorist reel 2021 | Dima Ledmi"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>   
                                </td>
                                <td>
                                    <div style="padding:80% 10% 10% 10%;position:relative;"></div>
                                </td>
                            </tr>
                        </table>
                    
  
  
  </div>
  
  
  <div class="footer">
      
  </div>
  
  
	</div>


</body>
</html>
{% endblock %}

