# Пример файла .env

# Настройки базы данных
POSTGRES_DB=mydatabase
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Секретный ключ Django
SECRET_KEY=your_secret_key

# Настройки Django
DEBUG=True
ALLOWED_HOSTS=*

#Настройки MQRabbit
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

#Настройки Celery
CELERY_BROKER_URL=amqp://user:password@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://

#Настройки Email
EMAIL_HOST_USER=pochta@gmail.com
EMAIL_HOST_PASSWORD=password
