# Пример файла .env

# Настройки базы данных
POSTGRES_DB=mydatabase
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Секретный ключ Django
SECRET_KEY=your_secret_key

# Настройки Django
DEBUG=True
ALLOWED_HOSTS=*
